<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans:opsz@12..24&family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="site-container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>